

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  margin: 1rem;
  background-color: white;
  padding-block: 1rem;
  margin-inline: auto;
  max-width: 600px;
  border:#282c34 2px solid;
  border-radius: 1rem;
  box-sizing: border-box;
}


.todo-entry {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-block-end: 2rem;
  border-bottom: 2px #282c34 solid ;
  background-color: inherit;
  justify-content: space-around;
}


h4 {
  margin: 1rem !important;
}

.single-todo {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single-todo .ant-typography {
  margin-inline-start: 1rem;
  flex-grow: 1;
}

.single-todo .inline-edit {
  width: 100%;
}
.ant-form-item:first-child {
  flex-grow: 1;
}
.single-todo:nth-child(odd) {
  background-color: #b7dbf6;
}

.single-todo:last-child {
  border-block-end: 2px solid #282c34 ;
}

div.footer {
  padding: 2rem 1rem 1rem;
}